{% extends "base.html" %}

{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block description %}{{ article.summary | striptags | truncate(80, False, '...', 0) }}{% endblock %}

{% block content %}
<div class="article mx-auto" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="text-center article-header">
		<h1 itemprop="name headline" class="article-title">{{ article.title }}</h1>
		{% if article.authors %}
			<h4>{{ article.authors | join(', ') }}</h4>
		{% elif article.author %}
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<h4 itemprop="name">{{ article.author }}</h4>
			</span>
		{% endif %}

		<span class="text-muted">
			<i class="fas fa-clock"></i>
			<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
		</span>
	</div>

	{% if article.category %}
		<div class="text-muted">
			<span><i class="fas fa-folder"></i> Category:</span>
			<span itemprop="articleSection">
				<a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
			</span>
		</div>
	{% endif %}

	{% if article.tags %} 
		<div class="text-muted">
			<span><i class="fas fa-tags"></i> Tags:</span>
			{% for tag in article.tags %}
				<span itemprop="keywords">
					<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">#{{ tag }}</a>
				</span>
			{% endfor %}
		</div>
	{% endif %}

	<div itemprop="articleBody" class="article-body">{{ article.content }}</div>
	{% include "twitter.html" %}
	{% include "liberapay.html" %}
	{% include 'disqus.html' %}
</div>
{% endblock %}
