{% extends "base.html" %}

{% block title %}Categories — {{ SITENAME }}{% endblock %}
{% block description %}Categories page lists all categories used to classify the posts.{% endblock %}

{% block content %}
	<h1>Categories</h1>
	<ul>
		{% for category, articles in categories %}
			<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{ articles | count }})</li>
		{% endfor %}
	</ul>
{% endblock %}
